.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 10px 15px;
  background-color: $color-white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $color-grey;

  &__logo {
    @include font-trade-winds();
    font-size: rem(36px);
  }
}

.nav {
  &__link {
    font-size: rem(16px);
    text-transform: uppercase;
  }
}
