@import url("https://fonts.googleapis.com/css?family=Dosis:300,400,700&display=swap");

:root {
  --blackColor: 0, 0, 0;
  --imperialPrimerColor: 34, 47, 62;
  --whiteColor: 255, 255, 255;
  --casandoraColor: 254, 202, 87;
  --turretRoadFont: "Dosis", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  line-height: normal;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

body {
  background-color: rgb(var(--imperialPrimerColor));
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(var(--whiteColor));
  font-family: var(--turretRoadFont), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 1em;
}

h1 span {
  font-size: 0.5em;
  font-weight: 300;
}

h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 0.5em;
}

code {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 10px 20px;
  display: block;
  margin-top: 10px;
}

section > div {
  min-height: 100vh;
  padding: 20px 0;
  position: relative;
}

.text-center {
  text-align: center;
}

.app--wrapper {
  width: 90%;
  min-height: 5vh;
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
}

.app--wrapper + .app--wrapper {
  margin-top: 40px;
}

.student {
  justify-content: space-between;
  align-items: center;
  display: flex;
  box-shadow: 0 0 10px 2px rgba(var(--blackColor), 0.5);
  border: 1px solid rgb(var(--whiteColor));
  border-radius: 4px;
  padding: 10px 20px;
  background-color: rgba(var(--blackColor), 0.15);
  transition: background-color 0.3s linear 0s, box-shadow 0.3s linear 0s;
}
.student:hover {
  background-color: rgba(var(--blackColor), 0.5);
  box-shadow: 0 0 12px 5px rgba(var(--blackColor), 0.75);
}

.student + .student {
  margin-top: 1em;
}

.student h3 {
  font-weight: 700;
  font-size: 1.4em;
  margin-bottom: 0.3em;
}

.student p {
  font-weight: 400;
  font-size: 0.9em;
}

.student span {
  font-weight: 300;
  font-size: 0.7em;
  text-transform: uppercase;
}

.student picture {
  margin-right: 10px;
}

.student picture img {
  border-radius: 50%;
}

.form {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 30px;
  background-color: rgba(var(--blackColor), 0.15);
}

.form .label {
  flex: 1;
  margin-right: 30px;
}

.form .input {
  transition: box-shadow 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  border-radius: 4px;
  height: 60px;
  font-weight: 300;
  font-size: 1em;
  padding: 0 20px;
  width: 100%;
}

.form .input:focus {
  box-shadow: 0 0 10px 2px rgba(var(--casandoraColor), 0.75);
  outline: 0;
}

.button {
  border-radius: 4px;
  padding: 0 20px;
  font-size: 1em;
  height: 60px;
  text-transform: uppercase;
}

.gist {
  border-radius: 4px;
  background-color: rgba(var(--blackColor), 0.5);
  padding: 5px 10px;
  display: block;
  color: rgb(var(--whiteColor));
  text-decoration: none;
}

.gist__title {
  font-size: 1em;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.gist__text {
  font-size: 0.75em;
  line-height: 1.4;
  word-break: break-all;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

.my-masonry-grid_column > a {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

.loader {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}
.box {
  width: 50px;
  height: 50px;
  background: #0984e3;
  animation: animate 0.5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}
@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
.shadow {
  width: 50px;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  animation: shadow 0.5s linear infinite;
}
@keyframes shadow {
  50% {
    transform: scale(1.2, 1);
  }
}

.social__list {
  display: flex;
  list-style: none;
}

.social__item {
  margin-right: 10px;
}

.social__item:last-of-type {
  margin-right: 0px;
}

.social__item a {
  color: white;
}

.social__item img {
  max-height: 50px;
  max-width: 50px;
  border-radius: 50%;
}
