<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.5.3/css/bulma.css" />
  </head>
  <body>
    <div class="container">
      <nav class="navbar-menu">
        <ul>
          <li class="nav-item">
            <a href="/">home</a>
          </li>
          <li class="nav-item">
            <a href="/about">about</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="container">
      <h1>Last class... 💔</h1>
    </div>
  </body>
</html>
