.button {
  border-radius: 50%;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  font-weight: 300;
  font-size: 24px;
  height: 60px;
  line-height: normal;
  margin-bottom: 10px;
  width: 60px;
}

.button:focus {
  outline: none;
}

.buttonBig {
  text-align: left;
  border-radius: 40px;
  width: 120px;
  padding: 0 24px;
}
